---
import "../style/globals.css";
---

<section>
	<img src="./central-logo.webp" alt="central-logo" />
	<h2>Sobre Nosotros</h2>
	<p>
		En <strong>SANDWICH A TU PINTA</strong> llevamos la experiencia de disfrutar
		un delicioso sandwich baguette a un nivel completamente nuevo. En nuestra tienda,
		tú eres el chef. Puedes seleccionar entre una variedad de ingredientes para armar
		tus sandwich favoritos.
	</p>
	<p>
		Además de nuestra oferta personalizada de baguettes, en <strong>
			SANDWICH A TU PINTA
		</strong> nos enorgullece ofrecer opciones deliciosas para tus almuerzos y colaciones
		diarias. Cada día, preparamos almuerzos frescos y nutritivos para satisfacer
		tu apetito de mediodía. Ya sea que estés buscando una opción saludable o algo
		más indulgente, encontrarás algo que se ajuste a tus gustos y necesidades.
	</p>
</section>

<style>
	section {
		/* flex-configs */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		/* property-configs */
		background: var(--black);

		img {
			width: 800px;
			height: 40px00px;
		}
	}
</style>
